# Basic Site Settings
title: "DIMMS Lab"
description: "Disease-Informed Modelling, Methods, and Systems Laboratory at York University"
url: "https://dimmslab.org"
baseurl: ""
repository: "dimms-lab/dimms-lab.github.io"

# Site Author
author:
  name             : "DIMMS Lab"
  avatar           : "dimms-lab-logo-thin-border.svg"
  bio              : "Disease-Informed Modelling, Methods, and Systems Laboratory at York University"
  googlescholar    : "https://scholar.google.ca/citations?user=QjS_7EgAAAAJ&hl=en&oi=sra"
  uri              : "https://www.yorku.ca/professor/waw/disease-informed-modelling-methods-and-systems-dimms-lab/"

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:categories/:title/
timezone: America/Toronto

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

# Include/Exclude
include:
  - _pages
  - files
exclude:
  - vendor
  - .bundle
  - .sass-cache
  - .jekyll-cache
  - node_modules
  - Gemfile
  - Gemfile.lock

# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
